.App {
  text-align: center;
  background: aliceblue;
}

body{
  background: aliceblue;
}

.todo{
  display: flex;
  justify-content: center;
}

.todo-container{
  width: 400px;
}

.todo .header h5{
  font-weight: 700;
  color: white;
  background: slateblue;
  padding: 10px 20px;
  border-radius: 8px 8px 0 0;
  margin: 0;
}

.todo-body{
  background: white;
  padding-bottom: 90px;
  position: relative;
}

.todo-body .input-group{
  position: absolute;
  bottom: 15px;
}

.todo-body .input-group input::placeholder{
  font-weight: 700;
}

.todo-body .btn-container{
  position: absolute;
  bottom: -21px;
  left: 36%;
}

.todo-body .btn{
  color: white;
  background: slateblue;
  padding: 5px 20px 7px 20px;
  font-weight: 700;
  border-radius: 20px;
}

.todo-body .btn:hover{
  background-color: rgb(137, 123, 228) !important;
}

.todo-item{
  background-color: aliceblue;
  width: 90%;
  margin-top: 20px;
}

.hover-pointer{
  cursor: pointer;
}